*{
    background-color:gray;
    margin:0px;
    padding:0px;
    color:wheat;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:1;
    border:border-box;
    border-radius:14px;
}
h1{
    color:coral;
    text-align:center;
}
#box{
    padding:20px;
    display:flex;
    justify-content:space-between;
    margin :50px;
    height:10vh;
    width:50vw;
}
#red{
    border:1px solid red;
    border-radius: 50px;
    text-align: center;
    background-color:white;
    height:10vh;
    width:15vw;
    margin:20px;
}
#blue{
    border:1px solid blue;
    border-radius: 50px;
    text-align: center;
    background-color:white;
    height:10vh;
    width:15vw;
    margin:20px;
}
#green{
    border:1px solid green;
    border-radius: 50px;
    text-align: center;
    background-color:white;
    height:10vh;
    width:15vw;
    margin:20px;
}
#yellow{
    border:1px solid yellow;
    border-radius: 50px;
    background-color:white;
    height:10vh;
    width:15vw;
    margin:20px;
}
hr{
    background-color:red;
}
.user{
    display:flex;
    align-items:center;
    justify-content:center;
}
#greet{
    text-align:center;
    height:5vh;
    width:5vw;
}
input{
    height:5vh;
    margin:20px;
    color:black;
}
button{
   cursor:pointer;
}